In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('income.csv',names=['names','income'],skiprows=[0])
df.head()

   names  income
0    Rob    5000
1  Rafiq    6000
2   Nina    4000
3  Sofia    7500
4  Mohan    8000

In [5]:
df.describe()

             income
count  7.000000e+00
mean   1.433929e+06
std    3.777283e+06
min    4.000000e+03
25%    5.500000e+03
50%    7.000000e+03
75%    7.750000e+03
max    1.000000e+07

In [6]:
df.income.quantile(0.25,interpolation='lower')

5000

In [7]:
percentile_99 = df.income.quantile(0.99)
percentile_99

9400479.999999994

In [9]:
df_no_outlier = df[df.income<percentile_99]
df_no_outlier

   names  income
0    Rob    5000
1  Rafiq    6000
2   Nina    4000
3  Sofia    7500
4  Mohan    8000
5    Tao    7000

In [11]:
df.income[3] = np.NaN

/tmp/ipykernel_34438/2076340306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.income[3] = np.NaN
/home/abir/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)